@use "vars";
/*

  ALIGN-ITEMS

  Media Query Extensions:
   -s = small
   -m = medium
   -l = large

*/

@mixin align-items($ext) {
  .items-start#{$ext}    { align-items: flex-start; }
  .items-end#{$ext}      { align-items: flex-end; }
  .items-center#{$ext}   { align-items: center; }
  .items-baseline#{$ext} { align-items: baseline; }
  .items-stretch#{$ext}  { align-items: stretch; }
}

@include map-sizes using ($ext) {
  @include align-items($ext);
}
