/*

  ALIGN-CONTENT

  Media Query Extensions:
   -s = small
   -m = medium
   -l = large

  MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/align-content


*/

@use "vars";
@mixin align-content($ext) {
  .content-start#{$ext}   { align-content: flex-start; }
  .content-end#{$ext}     { align-content: flex-end; }
  .content-center#{$ext}  { align-content: center; }
  .content-between#{$ext} { align-content: space-between; }
  .content-around#{$ext}  { align-content: space-around; }
  .content-stretch#{$ext} { align-content: stretch; }
}

@include map-sizes using ($ext) {
  @include align-content($ext);
}
