@use "vars";
/*

  ALIGN: FLEX & GRID

  Media Query Extensions:
   -s = small
   -m = medium
   -l = large

*/

@mixin aligns($ext) {
.items-start#{$ext}    { align-items: flex-start; }
.items-end#{$ext}      { align-items: flex-end; }
.items-center#{$ext}   { align-items: center; }
.items-baseline#{$ext} { align-items: baseline; }
.items-stretch#{$ext}  { align-items: stretch; }

.self-start#{$ext}    { align-self: flex-start; }
.self-end#{$ext}      { align-self: flex-end; }
.self-center#{$ext}   { align-self: center; }
.self-baseline#{$ext} { align-self: baseline; }
.self-stretch#{$ext}  { align-self: stretch; }

.justify-start#{$ext}   { justify-content: flex-start; }
.justify-end#{$ext}     { justify-content: flex-end; }
.justify-center#{$ext}  { justify-content: center; }
.justify-between#{$ext} { justify-content: space-between; }
.justify-around#{$ext}  { justify-content: space-around; }

.content-start#{$ext}   { align-content: flex-start; }
.content-end#{$ext}     { align-content: flex-end; }
.content-center#{$ext}  { align-content: center; }
.content-between#{$ext} { align-content: space-between; }
.content-around#{$ext}  { align-content: space-around; }
.content-stretch#{$ext} { align-content: stretch; }
}

@include map-sizes using ($ext) {
  @include aligns($ext);
}
