@use "vars";
/*

  ALIGN-SELF

  Media Query Extensions:
   -s = small
   -m = medium
   -l = large

*/

@mixin align-self($ext) {
.self-start#{$ext}    { align-self: flex-start; }
.self-end#{$ext}      { align-self: flex-end; }
.self-center#{$ext}   { align-self: center; }
.self-baseline#{$ext} { align-self: baseline; }
.self-stretch#{$ext}  { align-self: stretch; }
}

@include map-sizes using ($ext) {
  @include align-self($ext);
}
