@use "vars";
/*

   COORDINATES

   Use in combination with the position module.

   Base:
     top
     bottom
     right
     left

   Modifiers:
     -0  = literal value 0
     -1  = literal value 1
     -2  = literal value 2
     --1 = literal value -1
     --2 = literal value -2

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

@mixin coordinates($ext) {
  .top-0#{$ext}    { top:    0; }
  .right-0#{$ext}  { right:  0; }
  .bottom-0#{$ext} { bottom: 0; }
  .left-0#{$ext}   { left:   0; }

  .top-1#{$ext}    { top:    1rem; }
  .right-1#{$ext}  { right:  1rem; }
  .bottom-1#{$ext} { bottom: 1rem; }
  .left-1#{$ext}   { left:   1rem; }

  .top-2#{$ext}    { top:    2rem; }
  .right-2#{$ext}  { right:  2rem; }
  .bottom-2#{$ext} { bottom: 2rem; }
  .left-2#{$ext}   { left:   2rem; }

  .top--1#{$ext}    { top:    -1rem; }
  .right--1#{$ext}  { right:  -1rem; }
  .bottom--1#{$ext} { bottom: -1rem; }
  .left--1#{$ext}   { left:   -1rem; }

  .top--2#{$ext}    { top:    -2rem; }
  .right--2#{$ext}  { right:  -2rem; }
  .bottom--2#{$ext} { bottom: -2rem; }
  .left--2#{$ext}   { left:   -2rem; }

  .absolute--fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@include map-sizes using ($ext) {
  @include coordinates($ext);
}
