@use "vars";

.i         { font-style: italic; }
.fs-normal { font-style: normal; }
.normal { font-weight: normal; }
.b      { font-weight: bold; }
.fw1    { font-weight: 100; }
.fw2    { font-weight: 200; }
.fw3    { font-weight: 300; }
.fw4    { font-weight: 400; }
.fw5    { font-weight: 500; }
.fw6    { font-weight: 600; }
.fw7    { font-weight: 700; }
.fw8    { font-weight: 800; }
.fw9    { font-weight: 900; }

@mixin font-size($ext) {
.f1#{$ext} { font-size: .75rem; }
.f2#{$ext} { font-size: .875rem; }
.f3#{$ext} { font-size: 1rem; }
.f4#{$ext} { font-size: 1.125rem; }
.f5#{$ext} { font-size: 1.25rem; }
.f6#{$ext} { font-size: 1.5rem; }
.f7#{$ext} { font-size: 2rem; }
.f8#{$ext} { font-size: 3rem; }
.f9#{$ext} { font-size: 4rem; }
.f10#{$ext} { font-size: 6rem; }
.f11#{$ext} { font-size: 8rem; }
.f12#{$ext} { font-size: 12rem; }
}

@include map-sizes using ($ext) {
  @include font-size($ext);
}
