@use "vars";
/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

@mixin letter-spacing($ext) {
.ls       { letter-spacing:  .1em; }
.ls-tight { letter-spacing: -.05em; }
.ls-wide  { letter-spacing:  .25em; }
}

@include map-sizes using ($ext) {
  @include letter-spacing($ext);
}
