@use "vars";
/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

@mixin line-height($ext) {
  .lh-solid#{$ext} { line-height: 1; }
  .lh-title#{$ext} { line-height: 1.25; }
  .lh-copy#{$ext}  { line-height: 1.5; }
}

@include map-sizes using ($ext) {
  @include line-height($ext);
}
