@use "vars";
/*

  ORDER

  Media Query Extensions:
   -s = small
   -m = medium
   -l = large

*/

@mixin orders($ext) {
.order-0#{$ext} { order: 0; }
.order-1#{$ext} { order: 1; }
.order-2#{$ext} { order: 2; }
.order-3#{$ext} { order: 3; }
.order-4#{$ext} { order: 4; }
.order-5#{$ext} { order: 5; }
.order-6#{$ext} { order: 6; }
.order-7#{$ext} { order: 7; }
.order-8#{$ext} { order: 8; }
.order-last#{$ext} { order: 99999; }
}

@include map-sizes using ($ext) {
  @include orders($ext);
}
