@use "vars";
/*

   OUTLINES

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

@mixin outlines($ext) {
.outline#{$ext} { outline: 1px solid; }
.outline-transparent#{$ext} { outline: 1px solid transparent; }
.outline-0#{$ext} { outline: 0; }
}

@include map-sizes using ($ext) {
  @include outlines($ext);
}
