@use "vars";
/*

    OVERFLOW

    Media Query Extensions:
      -s = small
      -m = medium
      -l = large

 */

 @mixin overflow($ext) {
.overflow-visible#{$ext} { overflow: visible; }
.overflow-hidden#{$ext} { overflow: hidden; }
.overflow-scroll#{$ext} { overflow: scroll; }
.overflow-auto#{$ext} { overflow: auto; }

.overflow-x-visible#{$ext} { overflow-x: visible; }
.overflow-x-hidden#{$ext} { overflow-x: hidden; }
.overflow-x-scroll#{$ext} { overflow-x: scroll; }
.overflow-x-auto#{$ext} { overflow-x: auto; }

.overflow-y-visible#{$ext} { overflow-y: visible; }
.overflow-y-hidden#{$ext} { overflow-y: hidden; }
.overflow-y-scroll#{$ext} { overflow-y: scroll; }
.overflow-y-auto#{$ext} { overflow-y: auto; }
}

@include map-sizes using ($ext) {
  @include overflow($ext);
}
