@use "vars";
/*

   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

@mixin position($ext) {
  .static { position: static; }
  .relative  { position: relative; }
  .absolute  { position: absolute; }
  .fixed  { position: fixed; }
  .sticky  { position: sticky; }
}

@include map-sizes using ($ext) {
  @include position($ext);
}
