@use "vars";
/*

   ROTATIONS

*/

@mixin rotations($ext) {
.rotate-45#{$ext} { transform: rotate(45deg); }
.rotate-90#{$ext} { transform: rotate(90deg); }
.rotate-135#{$ext} { transform: rotate(135deg); }
.rotate-180#{$ext} { transform: rotate(180deg); }
.rotate-225#{$ext} { transform: rotate(225deg); }
.rotate-270#{$ext} { transform: rotate(270deg); }
.rotate-315#{$ext} { transform: rotate(315deg); }
}

@include map-sizes using ($ext) {
  @include rotations($ext);
}
