/* SPACING */

@use "vars";
@use "sass:map";
@use "sass:list";
@use "sass:math";

@mixin directions($prefix, $side, $size) {
    @if $side == "horiz" {
      #{$prefix}-left: $size;
      #{$prefix}-right: $size;
    } @else if $side == "vert" {
      #{$prefix}-top: $size;
      #{$prefix}-bottom: $size;
    } @else {
      #{$prefix}#{$side}: $size;
    }
}

@mixin expand-sizes($ext) {
  @each $type, $prefix in ("p": "padding", "m": "margin") {
    @each $letter, $side in map-merge($sides, $spans) {
      @for $x from 0 through calc(list.length($sizes) - 1) {
        $size: get-size($x);
        .#{$type}#{$letter}#{$x}#{$ext} {
          @include directions($prefix, $side, $size);
        }
      }
      .#{$type}#{$letter}-auto#{$ext} {
        @include directions($prefix, $side, auto);
      }
    }
  }
  @for $x from 0 through calc(list.length($sizes) - 1) {
    $size: get-size($x);
    .ga#{$x}#{$ext} {
      row-gap: $size;
      column-gap: $size;
    }
    .gv#{$x}#{$ext} { row-gap: $size; }
    .gh#{$x}#{$ext} { column-gap: $size; }
  }
  .mr-auto#{$ext} { margin-right: auto; }
  .ml-auto#{$ext} { margin-left:  auto; }
}

@include expand-sizes("");

@media #{$media-breakpoint-small} {
  @include expand-sizes("-s");
}

@media #{$media-breakpoint-medium} {
  @include expand-sizes("-m");
}

@media #{$media-breakpoint-large} {
  @include expand-sizes("-l");
}
