/* SPACING */

@use "vars";
@use "sass:map";
@use "sass:list";

@mixin expand-sizes($ext) {
  @each $type, $prefix in ("p": "padding", "m": "margin") {
    @each $letter, $side in map-merge($sides, $spans) {
      // @for $x from 0 through 7 {
      //   $size: #{pow(2, $x - 3)}rem;
      $x: 0;
      @each $size in $sizes {
        .#{$type}#{$letter}#{$x}#{$ext} {
          @if $side == "horiz" {
            #{$prefix}-left: $size;
            #{$prefix}-right: $size;
          } @else if $side == "vert" {
            #{$prefix}-top: $size;
            #{$prefix}-bottom: $size;
          } @else {
            #{$prefix}#{$side}: $size;
          }
        }
        $x: $x + 1;
      }
    }
  }
  $x: 0;
  @each $size in $sizes {
    .ga#{$x}#{$ext} {
      row-gap: $size;
      column-gap: $size;
    }
    .gv#{$x}#{$ext} { row-gap: $size; }
    .gh#{$x}#{$ext} { column-gap: $size; }
    $x: $x + 1;
  }
}

@include expand-sizes("");

@media ($breakpoint-medium) {
  @include expand-sizes("-m");
}

@media ($breakpoint-large) {
  @include expand-sizes("-l");
}
