@use "vars";

@mixin typography($ext) {
  /* Measure is limited to 66 characters */
  .measure#{$ext} { max-width: 66ch; }

  /* Measure is limited to ~80 characters */
  .measure-wide#{$ext} { max-width: 80ch; }

  /* Measure is limited to 45 characters */
  .measure-narrow#{$ext} { max-width: 45ch; }

  /* Book paragraph style - paragraphs are indented with no vertical spacing. */
  .book-p#{$ext} { // was .indent, which I felt was incorrect & generic -BJG
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .small-caps#{$ext} { font-variant: small-caps; }

  /* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */
  .truncate#{$ext} {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@include map-sizes using ($ext) {
  @include typography($ext);
}
