@use "vars";
/*

   WHITE SPACE

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/


@mixin white-space($ext) {
.ws-normal#{$ext} { white-space: normal; }
.nowrap#{$ext} { white-space: nowrap; }
.pre#{$ext} { white-space: pre; }
.pre-wrap#{$ext} { white-space: pre-wrap; }
}


@include map-sizes using ($ext) {
  @include white-space($ext);
}
