/*

   WIDTH & HEIGHT

   Modifiers
     -10  = literal value 10%
     -25  = literal value 25%
     -33  = literal value 33%
     -50  = literal value 50%
     -66  = literal value 66%
     -75  = literal value 75%
     -100 = literal value 100%
     -auto = string value auto

   Media Query Extensions:
     -m = medium
     -l = large

*/

@use "vars";

@mixin expand-width-height($ext) {
  @each $letter, $direction in ("w": "width", "h": "height") {
    @each $ltype, $ptype in ("": "", "min": "min-", "max": "max-") {
      @each $size in (10, 15, 20, 25, 33, 50, 66, 75, 100) {
        .#{$letter}#{$ltype}-#{$size}#{$ext} { #{$ptype}#{$direction}: #{$size}#{"%"}; }
        .v#{$letter}#{$ltype}-#{$size}#{$ext} { #{$ptype}#{$direction}: #{$size}v#{$letter}; }
      }
      $x: 1;
      @each $n in $fibonacci {
        $size: #{$n}rem;
        .#{$letter}#{$ltype}#{$x}#{$ext} { #{$ptype}#{$direction}: #{$size}; }
        $x: $x + 1;
      }
    }
    .#{$letter}-auto#{$ext} { #{$direction}: auto; }
    .#{$letter}min-auto#{$ext} { min-#{$direction}: auto; }
    .#{$letter}max-auto#{$ext} { max-#{$direction}: auto; }
    .#{$letter}max-content#{$ext} { #{$direction}: max-content; }
  }
}

@mixin expand-max-width($ext) {
  $sizes: (1, 2, 4, 8, 16, 32, 48, 64, 96);
  @for $i from 1 through length($sizes) {
    $size: nth($sizes, $i);
    .mw#{$i}#{$ext} { max-width: $size * 1rem; }
  }
}

@include expand-width-height("");
@include expand-max-width("");
@media #{$media-breakpoint-medium} {
  @include expand-width-height("-m");
  @include expand-max-width("-m");
}

@media #{$media-breakpoint-large} {
  @include expand-width-height("-l");
  @include expand-max-width("-l");
}
