@use "vars";
/*

  WORD BREAK

   Base:
     word = word-break

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

@mixin word-breaks($ext) {
.word-normal#{$ext} { word-break: normal; }
.word-wrap#{$ext} { word-break: break-all; }
.word-nowrap#{$ext} { word-break: keep-all; }
}

@include map-sizes using ($ext) {
  @include word-breaks($ext);
}
