.column-count-1 { column-count: 1; }
.column-count-2 { column-count: 2; }
.column-count-3 { column-count: 3; }
.column-count-4 { column-count: 4; }

@media (--breakpoint-small) {
  .column-count-1-s { column-count: 1; }
  .column-count-2-s { column-count: 2; }
  .column-count-3-s { column-count: 3; }
  .column-count-4-s { column-count: 4; }
}

@media (--breakpoint-medium) {
  .column-count-1-m { column-count: 1; }
  .column-count-2-m { column-count: 2; }
  .column-count-3-m { column-count: 3; }
  .column-count-4-m { column-count: 4; }
}

@media (--breakpoint-large) {
  .column-count-1-l { column-count: 1; }
  .column-count-2-l { column-count: 2; }
  .column-count-3-l { column-count: 3; }
  .column-count-4-l { column-count: 4; }
}
